body {
    overflow: hidden;
}

#max-width {
    background-image: url(../imagens/taeyeon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin:0 auto;
    background-color: #fff;
}